div.darkMode {
  background-image: url("images/1080_waterfall_darkmode.gif");
  background-size: contain;
  background-repeat: round;
  position: static;
  z-index: 0;
  width: 440px;
  color:white;
  background-color:#404029;
}

div.lightMode {
  background-image: url("images/1080_waterfall_lightmode.gif");
  background-size: contain;
  background-repeat: round;
  position: static;
  z-index: 0;
  width: 440px;
  color: black;
  background-color: #93b9bc;
}
.on {
  background-color: rgb(17, 158, 139);
  color: rgb(161, 238, 161);
  text-shadow: 1px 2px 10% rgb(65, 47, 82);
}
.off {
  width: 15%;
  background-color: #302b33ce;
  color: rgb(176, 245, 230);
  text-shadow: 1px 2px 5px #dca873;
}
div#settingsDisplay{
  background-color: black;
  color:wheat;
  font-family: 'Press Start 2P', cursive;
}
ul#displayDomains {
  float: left;
  list-style: square;
  list-style-image:url(images/pixel_waterfall_16.png) ;
}
span#displayDomainSpan{
  display: flex;
  float: right;
  flex-direction: column;
  max-width: 200px;
  max-height: 300px;
}
button#fiveMin {  
  background-color: indianred;
}
div#timeButtons {
  position: relative;
  display: flex;
}
.btn {
  font-family: 'Jura';
  letter-spacing: 2px;
  width: 50%;
}
div#tabButtonHolder{
  word-wrap: unset;
  width: 70%;
  height: 10%;
}
.textInput {
  float: right;
  max-width: 80px;
  color: rgb(29, 29, 29);
  background-color: rgba(198, 194, 201, 0.479);
}
input#interactButton{
  opacity: 0;
  width: 0;
  height: 0;
}



