body {
  background-color: darkslategray;
  background-image: url(images/waterfall_1080.gif);
  background-size: cover;
}
/* .displayStatus {
  display: none;
} */
.on {
  background-color: rgb(17, 158, 139);
}
.off {
  background-color: brown;
}
button {  
  height: 30px; 
  width: 30px;  
  outline: none;  
  margin: 10px;  
  border: none;  
  -radius: 2px;
}
button.current {  
  box-shadow: 0 0 0 2px white,              0 0 0 4px rgb(50, 149, 156);
}


div#timeButtons {
  position: relative;
  display: flex;
}

button {
  flex-shrink: 2;
  font-family: 'Oi';
  letter-spacing: 2px;
  width: 50%;
  
}

button#fiveMin {
  background-color:#818679;
}
button#tenMin {
  background-color: #71888e;
}
button#fifteenMin {
  background-color: #589ea7;
}
button#twentyMin {
  background-color: #42bd95;
}
button#twentyfiveMin {
  background-color:#1fe07e;
}
button#thirtyMin {
  background-color:#0af55b;
}


